@import "tailwindcss";

@theme {
  --color-red: #d3493a;
  --color-blue: #72b3fd;
  --color-black: #191919;
  --color-white: #f5f6f4;
  --color-green: #cafa6d;
  --breakpoint-lg: 1280px;
  --breakpoint-md: 768px;
  --breakpoint-grid-break: 1000px;
}

html {
  background-color: var(--color-black);
}

body {
  background-color: var(--color-black);
  min-height: 100dvh;
}

a {
  text-decoration: underline;
}

li {
  margin-bottom: 2px;
}

.invert-text {
  mix-blend-mode: difference;
  color: var(--color-white);
}

.font-serif {
  font-family: var(--font-serif);
}

.font-mono {
  font-family: var(--font-mono);
}

.heading {
  @apply text-[26px] leading-[28px];
}

.heading-serif {
  @apply font-serif text-[32px] md:text-[36px] underline mb-16 md:mb-[2.5rem];
}

.body {
  @apply text-[16px] md:text-[18px] leading-[22px];
}

.content-wrapper {
  @apply p-[20px] lg:pl-[127px] lg:pr-[78px] max-w-[1920px];
}

.site-grid-container {
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

@media (min-width: 1000px) {
  .site-grid-container {
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}
