@import "tailwindcss";

@theme {
  --color-red: #d3493a;
  --color-blue: #72b3fd;
  --color-black: #191919;
  --color-white: #f5f6f4;
}

body {
  background-color: var(--color-white);
}

a {
  text-decoration: underline;
}

.content-wrapper {
  padding-left: 127px;
  padding-right: 60px;
}

.site-grid-container {
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

@media (min-width: 800px) {
  .site-grid-container {
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}
